.fuelux body {
	padding: 20px;
	background: #f3f3f3;
}
.fuelux .form-control {
	float: left;
}
.fuelux .form-control + .form-control {
	margin-left: 10px;
}
.fuelux #venues ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.fuelux #venues li {
	float: left;
	width: 49%;
	margin-bottom: 1em;
	margin-right: 1%;
}
.fuelux .pillbox {
	width: 194px;
	margin-bottom: 10px;
	border: 1px solid #BBBBBB;
	border-radius: 4px 4px 4px 4px;
	background: #fff;
}
.fuelux option:disabled {
	color: #999;
}